html(lang="ru")
	head
		meta(charset="utf-8")
		title= "TOXIN"
	body
		header.header
			div
				ul
					li 
						a(href="#") о нас
					li 
						a(href="#") услуги
					li
						select
							option <a(href="#")></a>
					li 
						a(href="#") вакансии
					li 
						a(href="#") новости
					li  
						a(href="#") соглашения
					li
						select
							option <a(href="#")></a>
					div
						li 
							a(href="#") ВОЙТИ 
						li 
							a(href="#") ЗАРЕГЕСТРИРОВАТЬСЯ